# Tweets to dataframe

In [50]:
import pandas as pd
import numpy as np
from textblob import TextBlob 
import re 
from textblob.sentiments import NaiveBayesAnalyzer
import time

In [51]:
class TweetAnalyzer():
    """
    Functionality for analyzing and categorizing content from tweets.
    """

    def clean_tweet(self, tweet):
        return ' '.join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)", " ", tweet).split())

    def analyze_sentiment(self, tweet):
        return TextBlob(self.clean_tweet(tweet), analyzer=NaiveBayesAnalyzer())
        
    def tweets_to_data_frame(self, tweets):
        df = pd.DataFrame(data=[tweet['full_text'] for tweet in tweets], columns=['full_text'])
        df['id'] = np.array([tweet['id'] for tweet in tweets])
        df['date'] = np.array([tweet['created_at'] for tweet in tweets])
        df['city'] = [tweet['place']['full_name'] for tweet in tweets]
        df['country_code'] = [tweet['place']['country_code'] for tweet in tweets]
        df['country'] = [tweet['place']['country'] for tweet in tweets]
        df['coordinates'] = [tweet['coordinates']['coordinates'] for tweet in tweets]

        return df

In [52]:
all_tweets = []
with open('./data/tweet_ids/hydrated/tweets.jsonl', 'r') as json_file:
    json_list = list(json_file)

for json_str in json_list:
    try:
      result = json.loads(json_str)
      all_tweets.append(result)
    except:
        pass

In [55]:
all_tweets = [tweet for tweet in all_tweets if type(tweet['place']) == dict]

In [57]:
ta = TweetAnalyzer()
df = ta.tweets_to_data_frame(all_tweets)

In [59]:
df = df[df['country_code'] == 'US']

In [62]:
df['state'] = [city[-2:] for city in df['city']]

C:\Users\Craig\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [63]:
valid_states = ['OH', 'CA', 'MA', 'FL', 'IL', 'MD', 'NC', 'NY', 'AZ',
       'LA', 'TX', 'UT', 'GA', 'NV', 'MI', 'NJ', 'IN', 'ME', 'KS', 'VA',
       'MN', 'TN', 'PA', 'SC', 'WI', 'NM', 'OR', 'MO', 'WA', 'DC',
       'AL', 'CT', 'ID', 'KY', 'MS', 'CO', 'OK', 'HI', 'AR', 'VT', 'RI',
       'NH', 'MT', 'DE', 'NE',  'SD', 'IA', 'ND', 'WV',  'AK',
        'WY']
len(valid_states)

51

In [64]:
df = df[df['state'].isin(valid_states)]

In [10]:
df['full_text'][0]

'#statewaterheaters #getitin #corona #keepingpeoplesafe #plumber #pickeringtonohio new water heater swap out @ Pickerington, Ohio https://t.co/fMcPtH88m4'

In [11]:
ta.analyze_sentiment(df['full_text'][1]).sentiment

Sentiment(classification='neg', p_pos=0.29355729258623176, p_neg=0.7064427074137692)

In [12]:
a,b,c = ta.analyze_sentiment(df['full_text'][1]).sentiment

In [13]:
print(a,b,c)

neg 0.29355729258623176 0.7064427074137692

In [14]:
df.shape[0]/2

32297.5

In [15]:
df = df.reset_index()

In [16]:
df.loc[0:32316,:].to_csv('./data/tweets/cleaned_tweets_first_half.csv',index=False)
df.loc[32317:,:].to_csv('./data/tweets/cleaned_tweets_second_half.csv',index=False)

In [69]:
df1 = pd.read_csv('./data/tweets/cleaned_tweets_first_half.csv')
df2 = pd.read_csv('./data/tweets/cleaned_tweets_second_half.csv')

In [17]:
df = pd.read_csv('./data/tweets/cleaned_tweets_second_half.csv')

s= time.time()
for i, tweet in enumerate(df['full_text']):
    analysis = ta.analyze_sentiment(tweet).sentiment
    df.loc[i,'classification'] = analysis[0]
    df.loc[i,'p_pos'] = analysis[1]
    df.loc[i,'p_neg'] = analysis[2]
    if i % 100 == 0:
        print(f'{i} of {df.shape[0]}, time elapsed: {(time.time() - s) / 60} minutes')
        df.to_csv('./data/tweets/analyzed_tweets_second_half.csv',index=False)
        
df.to_csv('./data/tweets/analyzed_tweets_second_half.csv',index=False)

0 of 32278, time elapsed: 0.06798480351765951 minutes
100 of 32278, time elapsed: 7.538872714837392 minutes
200 of 32278, time elapsed: 15.742492512861888 minutes
300 of 32278, time elapsed: 27.578842163085938 minutes
400 of 32278, time elapsed: 38.30125726064046 minutes
500 of 32278, time elapsed: 50.40722532669703 minutes
600 of 32278, time elapsed: 63.411704977353416 minutes
700 of 32278, time elapsed: 76.50852807362874 minutes
800 of 32278, time elapsed: 91.61251735289892 minutes
900 of 32278, time elapsed: 104.46022142569224 minutes
1000 of 32278, time elapsed: 111.25717825094858 minutes
1100 of 32278, time elapsed: 118.08280838330587 minutes
1200 of 32278, time elapsed: 124.8664674282074 minutes
1300 of 32278, time elapsed: 131.6899699131648 minutes
1400 of 32278, time elapsed: 138.5281332095464 minutes
1500 of 32278, time elapsed: 145.31273971001306 minutes
1600 of 32278, time elapsed: 152.13685722351073 minutes
1700 of 32278, time elapsed: 158.9136512994766 minutes
1800 of 32278, time elapsed: 165.74056266148884 minutes
1900 of 32278, time elapsed: 172.52044845024744 minutes
2000 of 32278, time elapsed: 179.34636117219924 minutes
2100 of 32278, time elapsed: 186.17149264812468 minutes
2200 of 32278, time elapsed: 192.96033781369528 minutes
2300 of 32278, time elapsed: 199.7948442141215 minutes
2400 of 32278, time elapsed: 206.57110637029012 minutes
2500 of 32278, time elapsed: 213.40829786459605 minutes
2600 of 32278, time elapsed: 220.1878013451894 minutes
2700 of 32278, time elapsed: 227.01532642443973 minutes
2800 of 32278, time elapsed: 233.83771523634593 minutes
2900 of 32278, time elapsed: 240.6167200366656 minutes
3000 of 32278, time elapsed: 247.4481180826823 minutes
3100 of 32278, time elapsed: 254.63389321962993 minutes
3200 of 32278, time elapsed: 262.13824110825857 minutes
3300 of 32278, time elapsed: 269.59609764814377 minutes
3400 of 32278, time elapsed: 277.0157716751099 minutes
3500 of 32278, time elapsed: 284.49389329353966 minutes
3600 of 32278, time elapsed: 292.08386673132577 minutes
3700 of 32278, time elapsed: 299.5275110721588 minutes
3800 of 32278, time elapsed: 306.9718031922976 minutes
3900 of 32278, time elapsed: 314.4375508069992 minutes
4000 of 32278, time elapsed: 321.87966566085817 minutes
4100 of 32278, time elapsed: 329.2806900978088 minutes
4200 of 32278, time elapsed: 336.70275428692497 minutes
4300 of 32278, time elapsed: 344.09216578006743 minutes
4400 of 32278, time elapsed: 351.25916595856347 minutes
4500 of 32278, time elapsed: 358.09086312850314 minutes
4600 of 32278, time elapsed: 366.01440435647964 minutes
4700 of 32278, time elapsed: 375.3965491811434 minutes
4800 of 32278, time elapsed: 384.6733948349953 minutes
4900 of 32278, time elapsed: 394.02518106301625 minutes
5000 of 32278, time elapsed: 402.9368065635363 minutes
5100 of 32278, time elapsed: 412.6763531645139 minutes
5200 of 32278, time elapsed: 426.68667788505553 minutes
5300 of 32278, time elapsed: 441.84892343680065 minutes
5400 of 32278, time elapsed: 450.8461695472399 minutes
5500 of 32278, time elapsed: 459.50691349506377 minutes
5600 of 32278, time elapsed: 472.3068878054619 minutes
5700 of 32278, time elapsed: 489.1934144496918 minutes
5800 of 32278, time elapsed: 503.185403851668 minutes
5900 of 32278, time elapsed: 511.36448817253114 minutes
6000 of 32278, time elapsed: 517.7532052874565 minutes
6100 of 32278, time elapsed: 524.1639331420263 minutes
6200 of 32278, time elapsed: 530.5311495105426 minutes
6300 of 32278, time elapsed: 536.9396106203397 minutes
6400 of 32278, time elapsed: 543.3560617605846 minutes
6500 of 32278, time elapsed: 550.0161269346873 minutes
6600 of 32278, time elapsed: 556.436114903291 minutes
6700 of 32278, time elapsed: 562.8039179682731 minutes
6800 of 32278, time elapsed: 569.2222330451011 minutes
6900 of 32278, time elapsed: 575.6389104684193 minutes
7000 of 32278, time elapsed: 582.0175325115522 minutes
7100 of 32278, time elapsed: 588.427163139979 minutes
7200 of 32278, time elapsed: 594.8012242833773 minutes
7300 of 32278, time elapsed: 601.2188469529152 minutes
7400 of 32278, time elapsed: 607.6329264918963 minutes
7500 of 32278, time elapsed: 614.0011475602786 minutes
7600 of 32278, time elapsed: 620.4220138907433 minutes
7700 of 32278, time elapsed: 626.7860239624977 minutes
7800 of 32278, time elapsed: 633.1996254563331 minutes
7900 of 32278, time elapsed: 639.5689629753431 minutes
8000 of 32278, time elapsed: 645.9837722142537 minutes
8100 of 32278, time elapsed: 652.392115187645 minutes
8200 of 32278, time elapsed: 658.757547446092 minutes
8300 of 32278, time elapsed: 665.1623154560725 minutes
8400 of 32278, time elapsed: 671.5454678932825 minutes
8500 of 32278, time elapsed: 677.9736983497937 minutes
8600 of 32278, time elapsed: 684.348707207044 minutes
8700 of 32278, time elapsed: 690.7664627035459 minutes
8800 of 32278, time elapsed: 697.181279750665 minutes
8900 of 32278, time elapsed: 703.5647455016772 minutes
9000 of 32278, time elapsed: 709.9746689637502 minutes
9100 of 32278, time elapsed: 716.3459443966548 minutes
9200 of 32278, time elapsed: 722.771539247036 minutes
9300 of 32278, time elapsed: 729.188764778773 minutes
9400 of 32278, time elapsed: 735.5605751196543 minutes
9500 of 32278, time elapsed: 741.9920028527578 minutes
9600 of 32278, time elapsed: 748.3633599321048 minutes
9700 of 32278, time elapsed: 754.7751497983933 minutes
9800 of 32278, time elapsed: 761.1508773088456 minutes
9900 of 32278, time elapsed: 767.5776491602262 minutes
10000 of 32278, time elapsed: 773.9957732955614 minutes
10100 of 32278, time elapsed: 780.3741407593092 minutes
10200 of 32278, time elapsed: 786.8276691993077 minutes
10300 of 32278, time elapsed: 793.2038875420889 minutes
10400 of 32278, time elapsed: 799.6301567117373 minutes
10500 of 32278, time elapsed: 806.0491846005121 minutes
10600 of 32278, time elapsed: 812.4253071467082 minutes
10700 of 32278, time elapsed: 818.8406757473946 minutes
10800 of 32278, time elapsed: 825.2240538318952 minutes
10900 of 32278, time elapsed: 831.6400149186452 minutes
11000 of 32278, time elapsed: 838.0192483901977 minutes
11100 of 32278, time elapsed: 844.4272652467092 minutes
11200 of 32278, time elapsed: 850.8399268865585 minutes
11300 of 32278, time elapsed: 857.2157948931058 minutes
11400 of 32278, time elapsed: 863.6325228850047 minutes
11500 of 32278, time elapsed: 870.0044090867043 minutes
11600 of 32278, time elapsed: 876.4246539235115 minutes
11700 of 32278, time elapsed: 882.82501527071 minutes
11800 of 32278, time elapsed: 889.2390530149142 minutes
11900 of 32278, time elapsed: 895.6553810715675 minutes
12000 of 32278, time elapsed: 902.0341934839885 minutes
12100 of 32278, time elapsed: 908.4505398114522 minutes
12200 of 32278, time elapsed: 914.8338755607605 minutes
12300 of 32278, time elapsed: 921.251102121671 minutes
12400 of 32278, time elapsed: 927.6657515327136 minutes
12500 of 32278, time elapsed: 934.0405592918396 minutes
12600 of 32278, time elapsed: 940.4585822383563 minutes
12700 of 32278, time elapsed: 946.8333196401596 minutes
12800 of 32278, time elapsed: 953.2486421704292 minutes
12900 of 32278, time elapsed: 959.663705444336 minutes
13000 of 32278, time elapsed: 966.035722430547 minutes
13100 of 32278, time elapsed: 972.4454722841581 minutes
13200 of 32278, time elapsed: 978.834922750791 minutes
13300 of 32278, time elapsed: 985.2486725767453 minutes
13400 of 32278, time elapsed: 991.6137063066165 minutes
13500 of 32278, time elapsed: 998.032888396581 minutes
13600 of 32278, time elapsed: 1004.445116229852 minutes
13700 of 32278, time elapsed: 1010.8162690440814 minutes
13800 of 32278, time elapsed: 1017.2297060608864 minutes
13900 of 32278, time elapsed: 1023.5996648232142 minutes
14000 of 32278, time elapsed: 1030.0151535113653 minutes
14100 of 32278, time elapsed: 1036.387180574735 minutes
14200 of 32278, time elapsed: 1042.8025677959124 minutes
14300 of 32278, time elapsed: 1049.2144949714343 minutes
14400 of 32278, time elapsed: 1055.5838641762734 minutes
14500 of 32278, time elapsed: 1062.009965546926 minutes
14600 of 32278, time elapsed: 1068.3936319470406 minutes
14700 of 32278, time elapsed: 1074.8130738377572 minutes

14800 of 32278, time elapsed: 1081.2313802599906 minutes
14900 of 32278, time elapsed: 1087.6046767870585 minutes
15000 of 32278, time elapsed: 1094.0213617563247 minutes
15100 of 32278, time elapsed: 1100.3978122591973 minutes
15200 of 32278, time elapsed: 1106.8155329187712 minutes
15300 of 32278, time elapsed: 1113.1895693937938 minutes
15400 of 32278, time elapsed: 1119.610774966081 minutes
15500 of 32278, time elapsed: 1126.0321133891741 minutes
15600 of 32278, time elapsed: 1132.4153486172358 minutes
15700 of 32278, time elapsed: 1138.8348956346513 minutes
15800 of 32278, time elapsed: 1146.326697476705 minutes
15900 of 32278, time elapsed: 1154.5686872045198 minutes
16000 of 32278, time elapsed: 1162.4211968183517 minutes
16100 of 32278, time elapsed: 1170.179374229908 minutes
16200 of 32278, time elapsed: 1178.1116020997365 minutes
16300 of 32278, time elapsed: 1185.9337579727173 minutes
16400 of 32278, time elapsed: 1193.845204750697 minutes
16500 of 32278, time elapsed: 1201.756034274896 minutes
16600 of 32278, time elapsed: 1209.308315618833 minutes
16700 of 32278, time elapsed: 1217.1278080503146 minutes
16800 of 32278, time elapsed: 1224.8293113907177 minutes
16900 of 32278, time elapsed: 1232.2785299460093 minutes
17000 of 32278, time elapsed: 1239.499081893762 minutes
17100 of 32278, time elapsed: 1246.6829444169998 minutes
17200 of 32278, time elapsed: 1254.2125004490217 minutes
17300 of 32278, time elapsed: 1262.0476485292118 minutes
17400 of 32278, time elapsed: 1269.8270033041636 minutes
17500 of 32278, time elapsed: 1277.5905055681865 minutes
17600 of 32278, time elapsed: 1285.339160780112 minutes
17700 of 32278, time elapsed: 1293.0636239051819 minutes
17800 of 32278, time elapsed: 1300.7788692831994 minutes
17900 of 32278, time elapsed: 1308.740701429049 minutes
18000 of 32278, time elapsed: 1316.4680368622144 minutes
18100 of 32278, time elapsed: 1324.2552943229675 minutes
18200 of 32278, time elapsed: 1331.9561656037965 minutes
18300 of 32278, time elapsed: 1339.3524773995082 minutes
18400 of 32278, time elapsed: 1346.2097723722459 minutes
18500 of 32278, time elapsed: 1352.9986053466796 minutes
18600 of 32278, time elapsed: 1359.8418389836947 minutes
18700 of 32278, time elapsed: 1366.6409900108972 minutes
18800 of 32278, time elapsed: 1373.4834915757178 minutes
18900 of 32278, time elapsed: 1380.364027372996 minutes
19000 of 32278, time elapsed: 1387.1958308855692 minutes
19100 of 32278, time elapsed: 1395.8042514403662 minutes
19200 of 32278, time elapsed: 1404.2724952777228 minutes
19300 of 32278, time elapsed: 1412.6639011780421 minutes
19400 of 32278, time elapsed: 1420.9207202235857 minutes
19500 of 32278, time elapsed: 1429.2468853513399 minutes
19600 of 32278, time elapsed: 1437.5212118347486 minutes
19700 of 32278, time elapsed: 1445.981776726246 minutes
19800 of 32278, time elapsed: 1453.7823566158613 minutes
19900 of 32278, time elapsed: 1461.5016359329225 minutes
20000 of 32278, time elapsed: 1469.784673579534 minutes
20100 of 32278, time elapsed: 1478.032611934344 minutes
20200 of 32278, time elapsed: 1486.1862270752588 minutes
20300 of 32278, time elapsed: 1494.881579053402 minutes
20400 of 32278, time elapsed: 1503.7096286018689 minutes
20500 of 32278, time elapsed: 1511.5296107053757 minutes
20600 of 32278, time elapsed: 1519.1918316086133 minutes
20700 of 32278, time elapsed: 1527.0756119887035 minutes
20800 of 32278, time elapsed: 1534.8131815512975 minutes
20900 of 32278, time elapsed: 1542.6693598429363 minutes
21000 of 32278, time elapsed: 1550.5950049916903 minutes
21100 of 32278, time elapsed: 1558.3561023076375 minutes
21200 of 32278, time elapsed: 1566.0741407553355 minutes
21300 of 32278, time elapsed: 1573.176105193297 minutes
21400 of 32278, time elapsed: 1580.7424949844678 minutes
21500 of 32278, time elapsed: 1588.496767894427 minutes
21600 of 32278, time elapsed: 1596.1155509988466 minutes
21700 of 32278, time elapsed: 1603.8121291279792 minutes
21800 of 32278, time elapsed: 1611.408500778675 minutes
21900 of 32278, time elapsed: 1618.681827334563 minutes
22000 of 32278, time elapsed: 1625.5010745485624 minutes
22100 of 32278, time elapsed: 1632.2756578564645 minutes
22200 of 32278, time elapsed: 1639.0895527005196 minutes
22300 of 32278, time elapsed: 1645.841612438361 minutes
22400 of 32278, time elapsed: 1652.6455007274947 minutes
22500 of 32278, time elapsed: 1659.420389731725 minutes
22600 of 32278, time elapsed: 1666.2452715317409 minutes
22700 of 32278, time elapsed: 1673.0731960574785 minutes
22800 of 32278, time elapsed: 1679.853895819187 minutes
22900 of 32278, time elapsed: 1686.6754870971045 minutes
23000 of 32278, time elapsed: 1693.4557385961214 minutes
23100 of 32278, time elapsed: 1700.2909266153972 minutes
23200 of 32278, time elapsed: 1707.0626378893853 minutes
23300 of 32278, time elapsed: 1713.8781450430552 minutes
23400 of 32278, time elapsed: 1720.6986721952755 minutes
23500 of 32278, time elapsed: 1727.485073920091 minutes
23600 of 32278, time elapsed: 1734.307163508733 minutes
23700 of 32278, time elapsed: 1741.0848224878312 minutes
23800 of 32278, time elapsed: 1747.905000460148 minutes
23900 of 32278, time elapsed: 1754.6800093650818 minutes
24000 of 32278, time elapsed: 1761.4063758810362 minutes
24100 of 32278, time elapsed: 1768.200644036134 minutes
24200 of 32278, time elapsed: 1774.9233494122823 minutes
24300 of 32278, time elapsed: 1781.6905192216238 minutes
24400 of 32278, time elapsed: 1788.4189758817354 minutes
24500 of 32278, time elapsed: 1795.2761933644613 minutes
24600 of 32278, time elapsed: 1802.1408078551292 minutes
24700 of 32278, time elapsed: 1808.942485320568 minutes
24800 of 32278, time elapsed: 1815.7759277502696 minutes
24900 of 32278, time elapsed: 1822.5767405788104 minutes
25000 of 32278, time elapsed: 1829.581753663222 minutes
25100 of 32278, time elapsed: 1836.4033280611038 minutes
25200 of 32278, time elapsed: 1843.188832092285 minutes
25300 of 32278, time elapsed: 1850.0081120769182 minutes
25400 of 32278, time elapsed: 1856.766306356589 minutes
25500 of 32278, time elapsed: 1863.6143718878427 minutes
25600 of 32278, time elapsed: 1870.401627401511 minutes
25700 of 32278, time elapsed: 1877.132710381349 minutes
25800 of 32278, time elapsed: 1883.8898403644562 minutes
25900 of 32278, time elapsed: 1890.6735864241919 minutes
26000 of 32278, time elapsed: 1897.4269431869188 minutes
26100 of 32278, time elapsed: 1904.1366167267163 minutes
26200 of 32278, time elapsed: 1910.8913863619168 minutes
26300 of 32278, time elapsed: 1917.6457404414812 minutes
26400 of 32278, time elapsed: 1924.360816224416 minutes
26500 of 32278, time elapsed: 1931.1243007659912 minutes
26600 of 32278, time elapsed: 1937.8399250825246 minutes
26700 of 32278, time elapsed: 1944.5957419196764 minutes
26800 of 32278, time elapsed: 1951.3122139652571 minutes
26900 of 32278, time elapsed: 1958.0571435372035 minutes
27000 of 32278, time elapsed: 1964.8126113494238 minutes
27100 of 32278, time elapsed: 1971.5200904369353 minutes
27200 of 32278, time elapsed: 1978.5875269293786 minutes
27300 of 32278, time elapsed: 1985.346022407214 minutes
27400 of 32278, time elapsed: 1992.1169988830884 minutes
27500 of 32278, time elapsed: 1998.879416147868 minutes
27600 of 32278, time elapsed: 2005.5850671370824 minutes
27700 of 32278, time elapsed: 2012.3471088131269 minutes
27800 of 32278, time elapsed: 2019.0545881549517 minutes
27900 of 32278, time elapsed: 2025.8126818180085 minutes
28000 of 32278, time elapsed: 2032.5750321269036 minutes
28100 of 32278, time elapsed: 2039.375479654471 minutes
28200 of 32278, time elapsed: 2046.2132812738419 minutes
28300 of 32278, time elapsed: 2052.982146648566 minutes
28400 of 32278, time elapsed: 2059.9072530666986 minutes
28500 of 32278, time elapsed: 2066.6538279215497 minutes
28600 of 32278, time elapsed: 2073.406922451655 minutes
28700 of 32278, time elapsed: 2080.2175593574843 minutes
28800 of 32278, time elapsed: 2086.984330737591 minutes
28900 of 32278, time elapsed: 2093.799721089999 minutes
29000 of 32278, time elapsed: 2100.5619543790817 minutes
29100 of 32278, time elapsed: 2107.371677227815 minutes
29200 of 32278, time elapsed: 2114.1473908583325 minutes

29300 of 32278, time elapsed: 2120.9610553145408 minutes
29400 of 32278, time elapsed: 2127.764416106542 minutes
29500 of 32278, time elapsed: 2134.5054225722947 minutes
29600 of 32278, time elapsed: 2141.251318466663 minutes
29700 of 32278, time elapsed: 2147.9617732803026 minutes
29800 of 32278, time elapsed: 2154.7009014089904 minutes
29900 of 32278, time elapsed: 2161.411905090014 minutes
30000 of 32278, time elapsed: 2168.2205836375556 minutes
30100 of 32278, time elapsed: 2175.0515328645706 minutes
30200 of 32278, time elapsed: 2181.8325490077336 minutes
30300 of 32278, time elapsed: 2188.6327471256254 minutes
30400 of 32278, time elapsed: 2195.394830417633 minutes
30500 of 32278, time elapsed: 2202.2001981218655 minutes
30600 of 32278, time elapsed: 2209.0114501317344 minutes
30700 of 32278, time elapsed: 2215.759770317872 minutes
30800 of 32278, time elapsed: 2222.5008282780645 minutes
30900 of 32278, time elapsed: 2229.2021904349326 minutes
31000 of 32278, time elapsed: 2236.014060238997 minutes
31100 of 32278, time elapsed: 2242.824114902814 minutes
31200 of 32278, time elapsed: 2249.592880908648 minutes
31300 of 32278, time elapsed: 2256.406875371933 minutes
31400 of 32278, time elapsed: 2263.1813755075136 minutes
31500 of 32278, time elapsed: 2269.9912812431653 minutes
31600 of 32278, time elapsed: 2276.7613432367643 minutes
31700 of 32278, time elapsed: 2283.582252240181 minutes
31800 of 32278, time elapsed: 2290.4085642457007 minutes
31900 of 32278, time elapsed: 2297.1852088133496 minutes
32000 of 32278, time elapsed: 2303.9972752491635 minutes
32100 of 32278, time elapsed: 2310.7662065267564 minutes
32200 of 32278, time elapsed: 2317.5798520445824 minutes

In [18]:
df.head()

,index,full_text,id,date,city,country_code,country,coordinates,state,classification,p_pos,p_neg
0,79321,While admitted to St. Francis Hospital between...,1268957415929757697,Fri Jun 05 17:26:38 +0000 2020,"Chicago, IL",US,United States,"[-87.67, 42.01]",IL,pos,0.840656,0.159344
1,79325,GOOD MORNING 😀 THANK YOU LORD FOR WAKING ME UP...,1268958726611927048,Fri Jun 05 17:31:51 +0000 2020,"Whittier, CA",US,United States,"[-118.03407, 33.97542]",CA,pos,0.988976,0.011024
2,79326,🗣🗣HAPPY BELATED BDAY TO Terra Renee Matthews!!...,1268959375248568335,Fri Jun 05 17:34:25 +0000 2020,"Berkeley, MO",US,United States,"[-90.33590071, 38.74932691]",MO,pos,0.603010,0.396990
3,79331,"Just posted a video @ Corona, California https...",1268960496746729472,Fri Jun 05 17:38:53 +0000 2020,"Corona, CA",US,United States,"[-117.566, 33.8753]",CA,pos,0.731935,0.268065
4,79335,News roundup: more covid tracing apps released...,1268962295587016704,Fri Jun 05 17:46:02 +0000 2020,"Chicago, IL",US,United States,"[-87.60509849, 41.89186335]",IL,pos,0.800698,0.199302

In [85]:
df = pd.read_csv('./data/tweets/analyzed_tweets_first_half.csv')
df_2 = pd.read_csv('./data/tweets/analyzed_tweets_second_half.csv')

In [87]:
df.drop(columns='index').head()

,full_text,id,date,city,country_code,country,coordinates,state,classification,p_pos,p_neg
0,#statewaterheaters #getitin #corona #keepingpe...,1.240728e+18,Thu Mar 19 19:53:17 +0000 2020,"Pickerington, OH",US,United States,"[-82.759, 39.8841]",OH,pos,0.636339,0.363661
1,"""ain't no humans outside! (corona!)"" 😂😂😂🤣 @ Cl...",1.240728e+18,Thu Mar 19 19:53:46 +0000 2020,"Cleveland, OH",US,United States,"[-81.6937, 41.4996]",OH,neg,0.293557,0.706443
2,"current weather in Corona: moderate rain, 56°F...",1.240729e+18,Thu Mar 19 19:56:46 +0000 2020,"Corona, CA",US,United States,"[-117.58, 33.88]",CA,pos,0.881447,0.118553
3,Quarantine 🏓 training ! Adding some kicks 💥. \...,1.240729e+18,Thu Mar 19 19:58:28 +0000 2020,"Los Angeles, CA",US,United States,"[-118.243, 34.0522]",CA,pos,0.818247,0.181753
4,#quarantine #stockpiling #food #sexylatino #la...,1.240731e+18,Thu Mar 19 20:05:01 +0000 2020,"Los Angeles, CA",US,United States,"[-118.355, 34.1509]",CA,pos,0.696982,0.303018

In [75]:
df_3 = pd.concat([df,df_2])

In [88]:
df_3.drop(columns='index').to_csv('./data/tweets/analyzed_tweets.csv', index=False)

In [91]:
df = pd.read_csv('./data/tweets/analyzed_tweets.csv')

In [92]:
df.head()

,full_text,id,date,city,country_code,country,coordinates,state,classification,p_pos,p_neg
0,#statewaterheaters #getitin #corona #keepingpe...,1.240728e+18,Thu Mar 19 19:53:17 +0000 2020,"Pickerington, OH",US,United States,"[-82.759, 39.8841]",OH,pos,0.636339,0.363661
1,"""ain't no humans outside! (corona!)"" 😂😂😂🤣 @ Cl...",1.240728e+18,Thu Mar 19 19:53:46 +0000 2020,"Cleveland, OH",US,United States,"[-81.6937, 41.4996]",OH,neg,0.293557,0.706443
2,"current weather in Corona: moderate rain, 56°F...",1.240729e+18,Thu Mar 19 19:56:46 +0000 2020,"Corona, CA",US,United States,"[-117.58, 33.88]",CA,pos,0.881447,0.118553
3,Quarantine 🏓 training ! Adding some kicks 💥. \...,1.240729e+18,Thu Mar 19 19:58:28 +0000 2020,"Los Angeles, CA",US,United States,"[-118.243, 34.0522]",CA,pos,0.818247,0.181753
4,#quarantine #stockpiling #food #sexylatino #la...,1.240731e+18,Thu Mar 19 20:05:01 +0000 2020,"Los Angeles, CA",US,United States,"[-118.355, 34.1509]",CA,pos,0.696982,0.303018

In [95]:
df.to_csv('./data/tweets/analyzed_tweets_for_tableau.csv', index=False, sep = '\n', quotechar = '\t')